nav {
	padding: 23px;
	background: #0c1121;
}
nav a {
	color: #b3ffb9;
	font-weight: bold;
	margin: 30px;
	transition: 0.5s;
}

nav a:hover {
	color: #ff6363;
}

nav a.selected {
	color: #ff6363;
}

/* .toggle_ques {
} */

.toggle_ques button {
	padding: 15px;
	font-size: 15px;
	margin: 0 20px;
	color: #0e1929;
	background-color: #cff2;
	transition: 0.5s;
}

.toggle_ques button:hover {
	background-color: #ff6363;
	border: groove white;
}
.q_container {
	display: flex;
	border: groove #ccc;
	width: 500px;
	padding: 20px;
	margin: 20px auto;
}

/* Questions */

.author img.user_avatar {
	margin: 0 0 10px 0;
}

.question {
	font-size: 20px;
	text-align: left;
	margin-left: 25px;
}
